@charset "UTF-8";
/*banner 开始*/
.banner{
  background:url(../images/bg_banner_450.png) no-repeat center top;
}
/*banner 结束*/
/*新闻列表 开始*/
div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

div.detail {
  float:left;
}

div.detail h2{
  position:relative;
  display:inline-block;
  line-height:28px;
  margin-bottom:20px;
  font-size:24px;
  color:#85C9AB;
}

div.detail h2.capital{
  margin-top:55px;
}
div.detail h2 b{
  color:#194488;
}

div.detail h2 i{
  position:absolute;
  right:-34px;
  top:3px;
  width:24px;
  height:24px;
  background:url("../images/cooperationArrow.jpg") no-repeat;
}

div.detail p{
  font-size:14px;
  color:#4D4D4D;
  height:20px;
  line-height:20px;
  text-align:justify;
}

div.detail  p.last{
  margin-bottom:26px;
}

#taskContent{
  width:100%;
}
textarea.task_Content{
  width:97%;
  height: 198px;
  font-size: 14px;
  padding: 10px;
  resize: none;
  margin-bottom:13px;
}
div#button_box{
  width: 134px;
  float: right;
  height: 50px;
  background: #84C9AC;
  text-align: center;
  line-height: 50px;
}

div#button_box>a{
  color:#ffffff;
  font-size: 20px;
  font-weight: bold;
}
/*新闻列表 结束*/
