@charset "UTF-8";
/*banner 开始*/
.banner{
  background:url(../images/bg_banner_450.png) no-repeat center top;
}
/*banner 结束*/

/*渠道列表 开始*/
.public ul li {
  width: 256px;
}

div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

#menu_con>div{
  display:none;
}
#menu_con>div.first_child{
  display:block;
}
div.detail {
  float:left;
}

div.detail h2{
  position:relative;
  display:inline-block;
  line-height:28px;
  margin-bottom:20px;
  font-size:24px;
  color:#85C9AB;
}

div.detail h2 b{
  color:#194488;
}

div.detail h2 i{
  position:absolute;
  right:-34px;
  top:3px;
  width:24px;
  height:24px;
  background:url("../images/cooperationArrow.jpg") no-repeat;
}

div.detail p{
  height:20px;
  line-height:20px;
  text-align:justify;
}

div.detail div.web p{
  font-size:14px;
  margin-bottom:26px;
}

div.detail div.support{
  margin-left:15px;
  width:986px;
}

div.detail div.support p{
  font-size:16px;
  margin-bottom:23px;
  position:relative;
}

div.detail div.support p i{
  position:absolute;
  left:-13px;
  width:15px;
  height:24px;

}

div.detail div.support p.one i{
  background:url("../images/cooperationOne.jpg") no-repeat;
}
div.detail div.support p.two i{
  background:url("../images/cooperationtTwo.jpg") no-repeat;
}
div.detail div.support p.three i{
  background:url("../images/cooperationThree.jpg") no-repeat;
}
div.detail div.support p.four i{
  background:url("../images/cooperationFour.jpg") no-repeat;
}
div.detail div.support p.five i{
  background:url("../images/cooperationFive.jpg") no-repeat;
}
div.detail div.support p.six i{
  background:url("../images/cooperationSix.jpg") no-repeat;
}
div.detail>div{
  margin-bottom:55px;
}

div.detail img{
  display:block;
  width:968px;
  margin-top:37px;
}
/*渠道列表结束*/