
.horizontal-width ul li {
    width: 241px;
}
div.bread_crumb{
    float:right;
    margin:22px 0 16px 0;
}
div.info a {
    line-height: 18px;
    text-decoration: none;
    font-size: 14px;
    color: #4D4D4D;
}
.primary {
    display: inline;
    float: left;
    width: 42.18%;
}
.secondary {
    display: inline;
    width: 51.26%;
    margin-left: 20px;
}
.wrapper .title1,.title2 {
    font-size: 24px;
    font-weight: bold;
}
.wrapper .title1 {
    color: #194488;
}
.wrapper .title2{
    color: #84CBAD;
}
.capital {
    margin-top: 55px;
    margin-bottom: 20px;
}
.info {
  margin-top: 20px;
  margin-bottom: 89px;
}

/*导航 结束*/
/*banner 开始*/
.banner-dec{
    height:445px;
    background:url(../images/pushen_dec03.jpg) repeat-x center top;
    position:relative;
}

#share{
    height:56px;
}

