.public ul li {
  width:256px;
}
div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.info a {
    line-height: 18px;
    text-decoration: none;
    font-size: 14px;
    color: #4D4D4D;
}
.primary {
    display: inline;
    float: left;
    width: 42.18%;
}
.secondary {
    display: inline;
    width: 51.26%;
    margin-left: 20px;
}
.wrapper .title1,.title2 {
    font-size: 24px;
    font-weight: bold;
}
.wrapper .title1 {
    color: #194488;
}
.wrapper .title2{
    color: #84CBAD;
}
.capital {
    margin-top: 55px;
    margin-bottom: 20px;
}
.info {
  /*margin-top: 20px;*/
  margin-bottom: 89px;
}

#menu_con>div{
  display:none;
}
#menu_con>div.first_child{
  display:block;
}
/*导航 结束*/
/*banner 开始*/
.banner-dec{
    background:url(../images/bg_banner_450.png) no-repeat center top;
}

#share{
    height:56px;
}