@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
  margin:0;
  padding:0
}

ul, ol, dl, dd, dt, li{
  list-style:none;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.clear{
  clear:both;
}

input,button,img{
  border:none;
}
body{
  font:14px "Microsoft YaHei", "arial", "SimSun";
}

.wrapper{
  width:1024px;
  margin:0 auto;
  height:100%;
}

/*导航 开始*/
#header{
  height:124px;
  background:#ffffff;
  position:relative;
}

#nav{
  width:1024px;
  position:absolute;
  height:52px;
  top:50%;
  left:50%;
  margin:-26px 0 0 -512px;
}
 #nav ul{
   overflow:hidden;
   width:1024px;
   position:absolute;
   height:52px;
   top:50%;
   left:50%;
   margin:-26px 0 0 -512px;
 }
#nav ul li{
  float:left;
  height:52px;
  line-height:52px;
  margin-right:76px;
  position:relative;
}

#nav ul li.product{
  margin-right:0;
}

#nav ul li.store{
  margin-right:0;
}

#nav ul li.logo{
  margin:0 56px;
}

#nav ul li a{
  display:block;
  height:100%;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#000;
}

#nav ul li i{
  display:block;
  position:absolute;
  width:15px;
  height:15px;
  top:20px;
  left:85px;
  background:url("../images/pushen_06.png") no-repeat;
}

/*导航 结束*/
/*banner 开始*/
.banner{
  height:576px;
  background:url(../images/pushen_a1.jpg) no-repeat center top;
  position:relative;
}

.banner .circles{
  width:64px;
  height:16px;
  position:absolute;
  bottom:26px;
  left:50%;
  margin-left:-32px;
}

.banner .circles ol{
  padding-top:3px;
  list-style:none;
}

.banner .circles ol li{
  float:left;
  width:12px;
  height:12px;
  _font-size:0;
  background:url(../images/pushen_kong.jpg) no-repeat;
  margin-right:9px;
  cursor:pointer;
}

.banner .circles ol li.current{
  background:url(../images/pushen_shi.jpg) no-repeat;
}

.banner .circles ol li.last{
  margin-right:0;
}

/*banner 结束*/
/*商店介绍 开始*/
#list ul{
  overflow:hidden;
  margin:40px 0 43px 0;
}

#list ul li{
  float:left;
  width:317px;
  height:126px;
  border:1px solid #E5E5E5;
}

#list ul li a{
  display:block;
  text-align:left;
  height:100%;
  font-weight:bold;
  text-decoration:none;
}

#list ul li a>div{
  float:left;
  margin-top:45px;
}

#list ul li a p{
  font-size:18px;
  color:#b3b3b3;
}

#list ul li a span{
  font-size:16px;
  color:#CCCCCC;
}

#list ul li.store{
  margin-right:34px;
}

#list ul li.store:hover{
  border:1px solid #85c9ab;
}

#list ul li.store > a p:hover{
  color:#83c8aa;
}

#list ul li a>img{
  float:left;
  border:none;
}

#list ul li.store > a img{
  margin:33px 21px 34px 53px;
}

#list ul li.shop{
  margin-right:32px;
}

#list ul li.shop:hover{
  border:1px solid #85c9ab;
}

#list ul li.shop > a p:hover{
  color:#83c8aa;
}

#list ul li.shop > a img{
  margin:34px 19px 34px 53px;
}

#list ul li.club{
  border:1px solid #85c9ab;
}

#list ul li.club > a p{
  color:#83c8aa;
}

#list ul li.club > a img{
  margin:35px 21px 36px 56px;
}

/*商店介绍 结束*/
/*加入方式 开始*/
#join{
  overflow:hidden;
}

#join > a{
  display:block;
  float:left;
  width:237px;
  margin-bottom:70px;
}

.channel, .provider{
  margin-right:25px;
}

.community{
  margin-right:26px;
}

/*加入方式 结束*/
/*产品介绍 开始*/
#more{
  overflow:hidden;
  text-align:center;
  position:relative;
  border-bottom:1px solid #E6E6E6;
}
  /*绘制小圆点*/
#more div.circles{
  width:50px;
  height:12px;
  position:absolute;
  left:0;
  bottom:14px;
}

#more div.circles ol li{
  float:left;
  _font-size:0;
  border:5px solid #b3b3b3;
  border-radius:50%;
  margin-right:9px;
  cursor:pointer;
}

#more div.circles ol li.current{
  border-color:#85c7ab;
}

#more div.circles ol li.last{
  margin-right:0;
}
/*新品推荐*/
#more > span{
  display:inline-block;
  font-size:24px;
  line-height:48px;
  color:#b3b3b3;
}

#more > span b{
  font-style:normal;
  color:#83C8AA;
}
/*点击更多*/
#more > a{
  display:inline-block;
  line-height:48px;
  float:right;
  color:#B3B3B3;
  font-size:14px;
}

/*产品*/
#product{
  overflow:hidden;
}

#product ul li{
  float:left;
}

#product ul li.tree{
  border:1px solid #f5f5f5;
  height:454px;
  margin:18px 7px 75px 0;
}

#product ul li.bamboo{
  border:1px solid #f5f5f5;
  height:224px;
  margin:17px 5px 5px 0;
}

#product ul li.chair{
  border:1px solid #f5f5f5;
  height:224px;
  margin:17px 0 5px 0;
}

#product ul li.box{
  border:1px solid #f5f5f5;
  height:224px;
  margin-bottom:75px;
}
/*产品介绍 结束*/
/*底部版权 开始*/
#share{
  overflow:hidden;
  line-height:56px;
  position:relative;
  background:#f2f2f2;
}

#share ul{
  overflow:hidden;
  position:absolute;
  width:180px;
  height:46px;
  float:left;
  top:50%;
  margin-top:-23px;
}

#share ul li{
  width:44px;
  height:45px;
  margin-right:10px;
}

#share ul li a{
  display:block;
  height:100%;
}

#share ul li.sina{
  background:url("../images/pushen_48.png") no-repeat;
}

#share ul li.wechat{
  background:url("../images/pushen_50.png") no-repeat;
}

#share ul li.quaro{
  background:url("../images/pushen_52.png") no-repeat;
}

#share a > img{
  vertical-align:middle;
}

/*版权信息*/
#copyright{
  overflow:hidden;
  height:206px;
  background:#e6e6e6;
}

#top{
  overflow:hidden;
  height:166px;
  border-bottom:1px solid #878787;
}

#top ul{
  width:195px;
  float:left;
  margin: 27px 0 25px;
}

#top ul li {
  line-height:32px;
  position:relative;
}
 #top ul li b{
   font-size:18px;
   color:#333333;
   font-weight:bold;
   line-height:43px;
 }
#top a{
  font-size:14px;
  color:#737373;
  text-decoration:none;
}

#top p{
  position:absolute;
  width:36px;
  height:4px;
  background:url(../images/foot_green.jpg) no-repeat;
}

#bottom{
  color:#727272;
  margin-top:8px;
}
#bottom a{
  color:#727272;
  text-decoration:none;
}
#bottom span{
  margin:0 10px 0 7px;
}
/*底部版权 结束*/



