@charset "UTF-8";
/*banner 开始*/
.banner{
  background:url(../images/index_banner_bg.png) no-repeat  center top;
  position:relative;
}

.slideShow{
  width:1024px;
  height:576px;
  position:relative;
  overflow:hidden;
}

.slideShow ul{
  width:3072px;
  position:relative;
}
.slideShow ul li{
  width:1024px;
  float:left;
}


/*轮播图 小圆点*/
.banner .circles{
  width:64px;
  height:16px;
  position:absolute;
  bottom:22px;
  left:50%;
  margin-left:-32px;
}

.banner .circles span{
  float:left;
  width: 6px;
  height: 6px;
  border:3px solid #85c9ab;
  _font-size:0;
  border-radius:50%;
  margin-right:9px;
  cursor:pointer;
}

.banner .circles span.active{
  background:#85c9ab;
  border-color:#85c9ab;
}

.banner .circles span.last{
  margin-right:0;
}

/*banner 结束*/
/*商店介绍 开始*/
#list ul{
  overflow:hidden;
  margin:40px 0 43px 0;
}

#list ul li{
  float:left;
  width:317px;
  height:126px;
  border:1px solid #E5E5E5;
}

#list ul li a{
  display:block;
  text-align:left;
  height:100%;
  font-weight:bold;
  text-decoration:none;
}

#list ul li a>div{
  float:left;
  margin-top:45px;
}

#list ul li a p{
  font-size:18px;
  color:#b3b3b3;
}

#list ul li a span{
  font-size:16px;
  color:#CCCCCC;
}

#list ul li.store{
  margin-right:34px;
}

#list ul li.store:hover{
  border:1px solid #85c9ab;
}

#list ul li.store > a p:hover{
  color:#83c8aa;
}

#list ul li a>img{
  float:left;
  border:none;
}

#list ul li.store > a img{
  margin:33px 21px 34px 53px;
}

#list ul li.shop{
  margin-right:32px;
}

#list ul li.shop:hover{
  border:1px solid #85c9ab;
}

#list ul li.shop > a p:hover{
  color:#83c8aa;
}

#list ul li.shop > a img{
  margin:34px 19px 34px 53px;
}

#list ul li.club{
  border:1px solid #85c9ab;
}

#list ul li.club > a p{
  color:#83c8aa;
}

#list ul li.club > a img{
  margin:35px 21px 36px 56px;
}

/*商店介绍 结束*/
/*加入方式 开始*/
#join{
  overflow:hidden;
}

#join > a{
  display:block;
  float:left;
  width:237px;
  margin-bottom:70px;
}

.channel, .provider{
  margin-right:25px;
}

.community{
  margin-right:26px;
}

/*加入方式 结束*/

/*产品介绍 开始*/
#new_product{
  overflow:hidden;
  text-align:center;
  position:relative;
  border-bottom:1px solid #E6E6E6;
}

#new_product a:hover{
  color:#85c9ab;
}
  /*绘制小圆点*/
#new_product div.circles{
  width:50px;
  height:12px;
  position:absolute;
  left:0;
  bottom:14px;
}

#new_product div.circles ul li{
  width:0;
  height:0;
  _font-size:0;
  border:5px solid #b3b3b3;
  border-radius:50%;
  margin-right:9px;
  margin-top: 8px;
  float:left;
}

#new_product div.circles ul li.current{
  border-color:#85c7ab;
}

#new_product div.circles ul li.last{
  margin-right:0;
}
/*新品推荐*/
#new_product > span{
  display:inline-block;
  font-size:24px;
  line-height:48px;
  color:#b3b3b3;
}

#new_product > span b{
  font-style:normal;
  color:#83C8AA;
}
/*点击更多*/
#new_product > a{
  display:inline-block;
  line-height:48px;
  float:right;
  color:#B3B3B3;
  font-size:14px;
}

/*产品*/
#menu_con>div{
  display:none;
}
#menu_con div.product{
  overflow:hidden;
  display:block;
}

.product ul li{
  float:left;
}

.product ul li.tree{
  border:1px solid #f5f5f5;
  height:454px;
  margin:18px 7px 75px 0;
}

.product ul li.bamboo{
  border:1px solid #f5f5f5;
  height:224px;
  margin:17px 5px 5px 0;
}

.product ul li.chair{
  border:1px solid #f5f5f5;
  height:224px;
  margin:17px 0 5px 0;
}

.product ul li.box{
  border:1px solid #f5f5f5;
  height:224px;
  margin-bottom:75px;
}
/*产品介绍 结束*/