* {
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}

/*分享横条*/
#share{
    height:56px;
}

/*banner 开始*/
.banner-dec{
    background:url(../images/pushen_dec03.jpg) repeat-x center top;
    position:relative;
}

/*更改大水平导航栏宽度*/
.horizontal-width ul li {
    width: 241px;
}
/*更改小水平导航栏宽度*/
div.bread_crumb{
    /*float:right;*/
    text-align: right;
    margin:22px 0 16px 0;
}
div.bread_crumb a{
    line-height: 18px;
    text-decoration: none;
    font-size: 14px;
    color: #4D4D4D;
}

div.info{
    overflow:hidden;
    /*margin:0 29px 38px 27px;*/
}
div.detail {
    text-align: center;
}
div.detail h2{
    font-size:24px;
    color:#B4B4B4;
    line-height:28px;
    margin-bottom:20px;
    border-bottom: thin solid #E5E5E5;
}

div.detail h2 b{
    color:#84C9AC;
}

div.detail p{
    font-size:14px;
    margin-bottom:21px;
    line-height:20px;
    text-align:justify;
}

/*产品列表*/
.detail .prods-wrapper .single {
    width: 326px;
    height: 298px;
    border: thin solid #E5E5E5 ;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    /*display: inline;*/
}

/*跳转页面*/
.detail .ps_bottomPage {
    float:right;
    margin-right: 30px;
    margin-bottom: 60px;
}
.detail .ps_bottomPage .b-num {
    float:left;
}
.detail .b-num a {
    color: #333;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
}

.detail .b-num a, .detail .b-num b {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 14px;
}
.detail .single {
    /*padding: 7px;*/
}
.detail .single img {
    margin-top: 7px;
    /*margin-bottom: 7px;*/
}
.detail .single b {
   display:block;
   text-align: left;
   color: #4D4D4D;
   font-size: 14px;
   padding: 7px;
}
.detail .single p {
    padding: 7px;
    text-align: right;
    color: #85C9AB;
    font: 18px "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

.detail .prods-wrapper .start {
   box-shadow: 0px 5px 5px #F0F0F0;
}

.detail .prods-wrapper .end {
    margin-right: 0;
}