@charset "UTF-8";
/*banner 开始*/
.banner{
  height:450px;
  background:url(../images/bg_banner_450.png) no-repeat center top;
  position:relative;
}
/*banner 结束*/

/*商店列表 开始*/
#shop{
  border-bottom:1px solid #DDD9DA;
}
#shop ul{
  overflow:hidden;
}

#shop ul li {
  float: left;
  width: 341px;
  height: 64px;
  text-align: center;
  line-height: 64px;

}
#shop ul li a{
  display:block;
  font-size:18px;
  text-decoration:none;
  color:#B3B3B3;
  line-height: 64px;
}

#shop ul li.current a {
  line-height: 62px;
  color: #85C9AB;
  border-bottom: 3px solid;
}

div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.bread_crumb{
  float:right;
  margin:22px 0 16px 0;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

div.detail {
  float:left;
}

div.detail h2{
  font-size:24px;
  color:#85C9AB;
  line-height:28px;
  margin-bottom:20px;
}

div.detail h2 b{
  color:#194488;
}

div.detail p{
  font-size:14px;
  margin-bottom:21px;
  line-height:20px;
  text-align:justify;
}
/*商店列表结束*/
