@charset "UTF-8";
/*banner 开始*/
.banner{
  height:450px;
  background:url(../images/bg_banner_450.png) no-repeat center top;
  position:relative;
}
/*banner 结束*/

/*商店列表 开始*/
.public ul li {
  width: 341px;
}

div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

#menu_con>div{
  display:none;
}
#menu_con>div.first_child{
  display:block;
}

div.detail {
  float:left;
}

div.detail h2{
  font-size:24px;
  color:#85C9AB;
  line-height:28px;
  margin-bottom:20px;
}

div.detail h2 b{
  color:#194488;
}

div.detail p{
  font-size:14px;
  margin-bottom:21px;
  line-height:20px;
  text-align:justify;
}
/*商店列表结束*/
