@charset "UTF-8";
/*banner 开始*/
.banner{
  background:url(../images/bg_banner_450.png) no-repeat center top;
}
/*banner 结束*/
/*新闻与观点 开始*/
.public ul li {
  width: 341px;
}

div.info{
  overflow:hidden;
  margin:0 29px 30px 27px;
  border-bottom:1px solid #D9D9D9;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

#menu_con>div{
  display:none;
}
#menu_con>div.first_child{
  display:block;
}

div.detail {
  overflow:hidden;
  margin-top: 55px;
  position:relative;
}

div.detail h2{
  font-size:24px;
  color:#85C9AB;
  line-height:28px;
  margin-bottom:20px;
}

div.detail h2 b{
  color:#194488;
}

div.detail>i{
  position:absolute;
  width:62px;
  height:3px;
  background:#84C9AC;
  bottom:0;
}

div.news_box{
  height:253px;
  overflow:hidden;
  margin:0 29px 30px 27px;
  border-bottom:1px dashed #D3D3D3;
}

div.news_box img{
  float:left;
  margin-right:33px;
}

div.news_box .news_content{
  width:626px;
  height:220px;
  overflow:hidden;
}

.news_content>h3{
  font-size:20px;
  font-weight:bold;
  color:#000000;
  line-height:24px;
}
.news_content p{
  width: 600px;
  line-height: 22px;
  font-size: 14px;
  text-align: justify;
  margin: 19px 0 60px;
}

.news_content div.date{
  width: 600px;
  height: 29px;
  line-height: 29px;
}
.news_content div.date a{
  display: block;
  float: right;
  width: 56px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size:14px;
  color: #3C3C3C;
  text-decoration: none;
  border: 1px solid #3C3C3C;
}

.pager{
  overflow:hidden;
  height:30px;
  line-height:30px;
  margin-bottom:60px;
}
.news_more {
  width:930px;
  margin: 0 29px 30px 27px;
  overflow:hidden;
}
.news_more ul li{
  float:left;
}

.news_more ul li a{
  display:block;
  width:30px;
  height:30px;
  font-size:14px;
  line-height:30px;
  text-align:center;
  color:#262626;
  text-decoration:none;
}

.news_more ul li.current a{
  text-decoration:underline;
}
.news_more ul li.first a{
  width:60px;
  height:28px;
  line-height:30px;
  border:1px solid #262626;
  margin-right:20px;
}

.news_more ul li.last a{
  width:60px;
  height:28px;
  line-height:30px;
  border:1px solid #262626;
  margin-left:20px;
}

.news_next{
  float:right;
  color:#262626;
}
.news_next span{
  font-size:14px;
  line-height:18px;
  margin-right:8px;
}
.news_next>div{
  float:right;
  line-height:0;
  position:relative;
}
.news_next>div input{
  width:93px;
  height:28px;
  border:1px solid #262626;
}
.news_next>div a{
  position:absolute;
  top: 14px;
  right: 0;
  text-decoration: none;
  width: 20px;
  font-size:20px;
  color:#262626;
}
/*新闻与观点 结束*/
