@charset "UTF-8";
/*banner 开始*/
.banner{
  background:url(../images/bg_banner_450.png) no-repeat center top;
}
/*banner 结束*/
/*会员部分 开始*/
.public ul li {
  width: 512px;
}

div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

#menu_con>div{
  display:none;
}
#menu_con>div.first_child{
  display:block;
  float:left;
}

div.detail h2{
  font-size:24px;
  color:#85C9AB;
  line-height:28px;
  margin-bottom:20px;
}

div.detail h2 b{
  color:#194488;
}

div.detail p{
  font-size:14px;
  margin-bottom:21px;
  line-height:20px;
  text-align:justify;
}

#vip_service{
  overflow:hidden;
}

#vip_service ul li{
  float:left;
  width:240px;
  height:185px;
  margin-top:57px;
  text-align:center;
}

#vip_service ul li.first{
  margin-left:33px;
}

#vip_service ul li.middle{
  margin:57px 74px 0 74px;
}

#vip_service ul li p{
  font-size:12px;
  text-align:center;
  margin-top:26px;
}
/*会员部分 结束*/