@charset "UTF-8";
/*banner 开始*/
.banner{
  background:url(../images/bg_banner_450.png) no-repeat center top;
}
/*banner 结束*/
/*会员部分 开始*/
#vip{
  border-bottom:1px solid #DDD9DA;
}
#vip ul{
  overflow:hidden;
}

#vip ul li {
  float: left;
  width: 512px;
  height: 64px;
  text-align: center;
  line-height: 64px;

}
#vip ul li a{
  display:block;
  font-size:18px;
  text-decoration:none;
  color:#B3B3B3;
  line-height: 64px;
}

#vip ul li.current a {
  line-height: 62px;
  color: #85C9AB;
  border-bottom: 3px solid;
}

div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.bread_crumb{
  float:right;
  margin:22px 0 16px 0;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

div.detail {
  float:left;
}

div.detail h2{
  font-size:24px;
  color:#85C9AB;
  line-height:28px;
  margin-bottom:20px;
}

div.detail h2 b{
  color:#194488;
}

div.detail p{
  font-size:14px;
  margin-bottom:21px;
  line-height:20px;
  text-align:justify;
}

#vip_service{
  overflow:hidden;
}

#vip_service ul li{
  float:left;
  width:240px;
  height:185px;
  margin-top:57px;
  text-align:center;
}

#vip_service ul li.first{
  margin-left:33px;
}

#vip_service ul li.middle{
  margin:57px 74px 0 74px;
}

#vip_service ul li p{
  font-size:12px;
  text-align:center;
  margin-top:26px;
}
/*会员部分 结束*/