@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
  margin:0;
  padding:0
}

ul, ol, dl, dd, dt, li{
  list-style:none;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.clear{
  clear:both;
}

input,button,img{
  border:none;
}
body{
  font:14px "Microsoft YaHei", "arial", "SimSun";
}

.wrapper{
  width:1024px;
  margin:0 auto;
  height:100%;
}

/*导航 开始*/
#header{
  height:124px;
  background:#ffffff;
  position:relative;
}

#nav{
  width:1024px;
  position:absolute;
  height:52px;
  top:50%;
  left:50%;
  margin:-26px 0 0 -512px;
}
#nav ul{
  overflow:hidden;
  width:1024px;
  position:absolute;
  height:52px;
  top:50%;
  left:50%;
  margin:-26px 0 0 -512px;
}
#nav ul li{
  float:left;
  height:52px;
  line-height:52px;
  margin-right:76px;
  position:relative;
}

#nav ul li.product{
  margin-right:0;
}

#nav ul li.store{
  margin-right:0;
}

#nav ul li.logo{
  margin:0 56px;
}

#nav ul li a{
  display:block;
  height:100%;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#000;
}

#nav ul li i{
  display:block;
  position:absolute;
  width:15px;
  height:15px;
  top:20px;
  left:85px;
  background:url("../images/pushen_06.png") no-repeat;
}

/*导航 结束*/
/*banner 开始*/
.banner{
  height:450px;
  background:url(../images/vip_01.jpg) no-repeat center top;
  position:relative;
}
/*banner 结束*/
/*商店列表 开始*/
#vip{
  border-bottom:1px solid #DDD9DA;
}
#vip ul{
  overflow:hidden;
}

#vip ul li {
  float: left;
  width: 512px;
  height: 64px;
  text-align: center;
  line-height: 64px;

}
#vip ul li a{
  display:block;
  font-size:18px;
  text-decoration:none;
  color:#B3B3B3;
  line-height: 64px;
}

#vip ul li.current a {
  line-height: 62px;
  color: #85C9AB;
  border-bottom: 3px solid;
}

div.info{
  overflow:hidden;
  margin:0 29px 38px 27px;
}

div.bread_crumb{
  float:right;
  margin:22px 0 16px 0;
}

div.info a{
  line-height:18px;
  text-decoration:none;
  font-size:14px;
  color:#4D4D4D;
}

div.detail {
  float:left;
}

div.detail h2{
  font-size:24px;
  color:#85C9AB;
  line-height:28px;
  margin-bottom:20px;
}

div.detail h2 b{
  color:#194488;
}

div.detail p{
  font-size:14px;
  margin-bottom:21px;
  line-height:20px;
  text-align:justify;
}

#vip_service{
  overflow:hidden;
}

#vip_service ul li{
  float:left;
  width:240px;
  height:185px;
  margin-top:57px;
  text-align:center;
}

#vip_service ul li.first{
  margin-left:33px;
}

#vip_service ul li.middle{
  margin:57px 74px 0 74px;
}

#vip_service ul li p{
  font-size:12px;
  text-align:center;
  margin-top:26px;
}
/*底部版权 开始*/
#share{
  overflow:hidden;
  line-height:56px;
  position:relative;
  background:#f2f2f2;
}

#share ul{
  overflow:hidden;
  position:absolute;
  width:180px;
  height:46px;
  float:left;
  top:50%;
  margin-top:-23px;
}

#share ul li{
  width:44px;
  height:45px;
  margin-right:10px;
}

#share ul li a{
  display:block;
  height:100%;
}

#share ul li.sina{
  background:url("../images/pushen_48.png") no-repeat;
}

#share ul li.wechat{
  background:url("../images/pushen_50.png") no-repeat;
}

#share ul li.quaro{
  background:url("../images/pushen_52.png") no-repeat;
}

#share a > img{
  vertical-align:middle;
}

/*版权信息*/
#copyright{
  overflow:hidden;
  height:206px;
  background:#e6e6e6;
}

#top{
  overflow:hidden;
  height:166px;
  border-bottom:1px solid #878787;
}

#top ul{
  width:195px;
  float:left;
  margin: 27px 0 25px;
}

#top ul li {
  line-height:32px;
  position:relative;
}
#top ul li b{
  font-size:18px;
  color:#333333;
  font-weight:bold;
  line-height:43px;
}
#top a{
  font-size:14px;
  color:#737373;
  text-decoration:none;
}

#top p{
  position:absolute;
  width:36px;
  height:4px;
  background:url(../images/foot_green.jpg) no-repeat;
}

#bottom{
  color:#727272;
  margin-top:8px;
}
#bottom a{
  color:#727272;
  text-decoration:none;
}
#bottom span{
  margin:0 10px 0 7px;
}
/*底部版权 结束*/